* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Roboto:wght@400;700&display=swap');

/*font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif  */

/*INICIO HEADER*/
.header-gifos {
    display: flex;
    justify-content:  space-around;
    border-top: 5px solid #572EE5;
}

.header-img {
    padding-top: 20px;
    padding-right: 30px;
}

.header-nav {
    display: flex;
    justify-content:space-between;

}

.header-ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-ul > li {
    list-style: none;
    padding: 0 20px;
}

/*FIN DE HEADER*/

/*INICIO SECCION 1*/

.section1 {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
}

.section1-title {
    text-align: center;
}

.section1-img-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section1-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    color: #572EE5;
    text-align: center;
    line-height: 50px;
    margin-top: 100px;
    margin-bottom: 30px;
    width: 600px;
}

.color-gifos {
    color: cyan;
}

.section1-search {
    background: #FFFFFF;
    border: 1px solid #572EE5;
    border-radius: 27px;
    border-radius: 27px;
    height: 50px;
    width: 551px;
    padding-left: 50px;
}

.section1-search[type="text"]::placeholder{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #9CAFC3;
}
.section1-img {
    width: 399px;
    height: 190px;
}

.icon-search {
    position: relative;
    top: -35px;
    right: -230px;
}

.section2-trending-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #572EE5;
    text-align: center;
    line-height: 25px
}

/*CSS PARA ASIGNAR DESDE DOM*/
.section2-trending-select-DOM {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #572EE5;
    text-align: center;
    line-height: 25px;
    font-weight: 400;
}


/*FIN SECCION 1*/

/*INICIO SECCION 2*/

.section2 {
    background:#F3F5F8;
    display: flex;
    justify-content: center;
}

.section2-title{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.section2-trending{
    text-align: center;
}
/*FIN SECCION 2*/

/*INICIO FOOTER*/

.footer {
    display: flex;
    justify-content: space-between;
    border-bottom: 5px solid #572EE5;
}

.shared-conteiner {
    display: flex;
}

.shared-conteiner > p {
    padding-right: 10px;
}

.shared-conteiner > a > img {
    padding: 0px 5px;
    width: 80%;
}

.copyright{
    display: flex;
}

/*FIN FOOTER*/
